In [5]:
import json
import pandas as pd

In [6]:
df = pd.read_csv('../gsm_train.csv')
df

,question,answer
0,В апреле Наталья продала 48 клипов своим друзь...,Наталья продала 48 / 2 = <calculator>48 / 2</c...
1,Венг зарабатывает 12 долларов в час за присмот...,Венг зарабатывает $12 / 60 = $<calculator>12 /...
2,"Бетти копит деньги на новый бумажник, который ...",Вначале у Бетти было $100 / 2 = $<calculator>1...
3,Джули читает книгу на 120 страниц. Вчера она с...,Сегодня Майла прочитала 12 * 2 = <calculator>1...
4,Джеймс пишет письмо на 3 страницы 2 разным дру...,Он пишет каждому другу 3 * 2 = <calculator>3 *...
...,...,...
5819,У Пола 52 шарика. Его друг дал ему 28 шариков....,Всего у Пола 52 + 28 = <calculator>52 + 28</ca...
5820,Стивен занял у своей сестры 300 долларов и поо...,Стивен заплатит дополнительно 300 долларов * 2...
5821,"Кира купила в продуктовом магазине 3 яблока, 5...",Кира купила 3 + 5 + 6 = <calculator>3 + 5 + 6<...
5822,В конце учебного года Кейт спросила своего учи...,"Она смогла получить 3 коробки по 64 мелка, поэ..."
5823,Салли покупает одну маленькую пиццу за 8 долла...,Стоимость пиццы для всей семьи составляет 3 * ...

In [7]:
data = []
for row in df.to_dict('records'):
    data.append({
        'instruction': row['question'],
        'output': row['answer'].replace('####', 'Ответ:')
    })

In [4]:
with open('lora-saiga/train_data.json', 'w') as f_out:
    json.dump(data, f_out, ensure_ascii=False, indent=2)

In [5]:
df = pd.read_csv('../gsm_test.csv')
data = []
for row in df.to_dict('records'):
    data.append({
        'instruction': row['question'],
        'output': row['answer'].replace('####', 'Ответ:')
    })
with open('lora-saiga/test_data.json', 'w') as f_out:
    json.dump(data, f_out, ensure_ascii=False, indent=2)

### Test

In [1]:
from utils.prompter import Prompter

In [8]:
prompter = Prompter('saiga_short', verbose=True)

Using prompt template saiga_short: Template used for calculations with Saiga (short prompt in chat style).

In [11]:
prompt = prompter.generate_prompt(
    instruction=data[0]["instruction"],
    output=data[0]["output"] + '</s>',
)

<s>system
Ты — Сайга, русскоязычный автоматический ассистент. Ты разговариваешь с людьми и помогаешь им.</s>
<s>user
В апреле Наталья продала 48 клипов своим друзьям, а в мае продала вдвое меньше клипов. Сколько всего клипов продала Наталья в апреле и мае? Распиши решение по шагам и выведи ответ в конце.</s>
<s>bot
Наталья продала 48 / 2 = <calculator>48 / 2</calculator>24 клипа в мае.
Всего за апрель и май Наталья продала 48 + 24 = <calculator>48 + 24</calculator>72 клипа.
Ответ: 72</s>